#clockContainer {
  position: relative;
  margin: auto;
  border: 2px solid red;
  height: 40vw;
  width: 40vw;
  background: url("clock.png") no-repeat;
  background-size: 100%;
  border-radius: 50%;
}

#hour,
#minute,
#second {
  position: absolute;
  background-color: black;
  border-radius: 10px;
  transform-origin: bottom;
}

#hour {
    height: 22%;
    width: 2%;
    top: 29%;
    left: 49.4%;
    opacity: 0.8;
   
}

#minute {
  height: 25%;
  width: 1.5%;
  top: 25%;
  left: 49.7%;
  opacity: 0.8;


}
#second {
  height: 34%;
  width: 0.5%;
  top: 16%;
  left: 49.7%;
  opacity: 0.8;
 
}
